html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.default {
    &-container {
        min-height: calc(100% - 120px);
        width: 100%;
        &-content {
            width: 1024px;
            margin: auto;
            padding: $size-base * 3;
        }
    }
}